/* ==============================
Zen Browser Workspace Buttons V3
============================== */

/* ===== Variables ===== */
:root {
    --ws-radius:        8px;
    --ws-gray:          100%;

    --ws-color:         color-mix(in srgb, currentColor  8%, transparent);
    --ws-color-bg:      color-mix(in srgb, currentColor  5%, transparent);
    --ws-color-hover:   color-mix(in srgb, currentColor 14%, transparent);
    --ws-color-shadow:  color-mix(in srgb, currentColor 20%, transparent);
    
    /* Internal Variables */
    --ws-size:          28px;
    --ws-wrap:          30px;
    /* Note: ws-opacity & ws-hide-name don't write to root */ 
}



/* ==============================
Prferences Settings for Variables
============================== */

/* ws-radius | Workspaces Roundness */


/* ws-gray | Workspaces Grayscale */


/* ws-opacity | Workspaces Opacity */




/* ==============================
Workspaces Name Label [Above Pins]
============================== */

/* Hide Workspace Name Label */
@media (-moz-pref("ws-hide-name")) {
    .zen-current-workspace-indicator { display: none !important; }
}

/* Name Label Custom Hover Effects */
.zen-current-workspace-indicator::before {
    border-radius: var(--ws-radius) !important;
    box-shadow: 0 0px 3px transparent !important;
    transition: background-color 0.3s ease, box shadow 0.3s ease !important;
}

.zen-current-workspace-indicator:hover::before {
    background-color: var(--ws-color) !important;
    box-shadow: 0 0px 3px var(--ws-color-shadow) !important;
    z-index: -1 !important;
}



/* ==============================
Base For Workspaces Button [Style 0]
============================== */

#zen-workspaces-button {
    container-type: initial !important;
    isolation: isolate !important;
    border-radius: var(--ws-radius) !important;
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
}



/* ==============================
Workspace Base w/ BG [Style 1]
============================== */




/* ==============================
Workspace Base Restyle [Style 2 & 3]
============================== */

/* Style 2 Toggle */

/* Style 3 Toggle */




/* ==============================
Formatting Fix For Workspaces
============================== */




/* ==============================
      Custom CSS by Pryemium      
============================== */
