/* ==============================
Zen Browser Workspace Buttons V3
============================== */

/* ===== Variables ===== */
:root {
    --ws-radius:        8px;
    --ws-grayscale:     100%;

    --ws-color:         color-mix(in srgb, currentColor  8%, transparent);
    --ws-color-bg:      color-mix(in srgb, currentColor  5%, transparent);
    --ws-color-hover:   color-mix(in srgb, currentColor 14%, transparent);
    --ws-color-shadow:  color-mix(in srgb, currentColor 20%, transparent);
    
    /* Internal Variables */
    --ws-size:          26px;
    --ws-wrap:          28px;
    /* Note: ws-opacity, ws-style & ws-hide-name don't write to root */ 
}



/* ==============================
Prferences Settings for Variables
============================== */

/* ws-radius | Workspaces Roundness */
@media (-moz-pref("ws-radius", "0"))  { :root { --ws-border-radius:  0px;  } }
@media (-moz-pref("ws-radius", "4"))  { :root { --ws-border-radius:  4px;  } }
@media (-moz-pref("ws-radius", "12")) { :root { --ws-border-radius:  12px; } }
@media (-moz-pref("ws-radius", "18")) { :root { --ws-border-radius:  18px; } }

/* ws-grayscale | Workspaces Grayscale */
@media (-moz-pref("ws-grayscale", "0"))  { :root { --ws-grayscale:  0%; } }
@media (-moz-pref("ws-grayscale", "25")) { :root { --ws-grayscale: 25%; } }
@media (-moz-pref("ws-grayscale", "50")) { :root { --ws-grayscale: 50%; } }
@media (-moz-pref("ws-grayscale", "75")) { :root { --ws-grayscale: 75%; } }

/* ws-opacity | Workspaces Opacity */
@media (-moz-pref("ws-opacity", "4")) {
  :root {
    --ws-color:        color-mix(in srgb, currentColor  4%, transparent);
    --ws-color-bg:     color-mix(in srgb, currentColor  2%, transparent);
    --ws-color-hover:  color-mix(in srgb, currentColor  8%, transparent);
    --ws-color-shadow: color-mix(in srgb, currentColor 10%, transparent);
  }
}
@media (-moz-pref("ws-opacity", "12")) {
  :root {
    --ws-color:        color-mix(in srgb, currentColor 12%, transparent);
    --ws-color-bg:     color-mix(in srgb, currentColor  8%, transparent);
    --ws-color-hover:  color-mix(in srgb, currentColor 20%, transparent);
    --ws-color-shadow: color-mix(in srgb, currentColor 28%, transparent);
  }
}
@media (-moz-pref("ws-opacity", "20")) {
  :root {
    --ws-color:        color-mix(in srgb, currentColor 20%, transparent);
    --ws-color-bg:     color-mix(in srgb, currentColor 12%, transparent);
    --ws-color-hover:  color-mix(in srgb, currentColor 30%, transparent);
    --ws-color-shadow: color-mix(in srgb, currentColor 38%, transparent);
  }
}



/* ==============================
Workspaces Name Label [Above Pins]
============================== */

/* Hide Workspace Name Label */
@media (-moz-pref("ws-hide-name")) {
    .zen-current-workspace-indicator { display: none !important; }
}

/* Name Label Custom Hover Effects */
.zen-current-workspace-indicator::before {
    border-radius: var(--ws-radius) !important;
    box-shadow: 0 0px 3px transparent !important;
    transition: background-color 0.3s ease, box shadow 0.3s ease !important;
}

.zen-current-workspace-indicator:hover::before {
    background-color: var(--ws-color) !important;
    box-shadow: 0 0px 3px var(--ws-color-shadow) !important;
    z-index: -1 !important;
}



/* ==============================
Base For Workspaces Button [Style 0]
============================== */




/* ==============================
Workspace Base w/ BG [Style 1]
============================== */




/* ==============================
Workspace Base Restyle [Style 2 & 3]
============================== */

/* Style 2 Toggle */

/* Style 3 Toggle */




/* ==============================
Formatting Fix For Workspaces
============================== */

/* Ensure the bottom icon row in the sidebar lays out correctly */
#zen-sidebar-foot-buttons > .customization-target {
  display: flex !important;
  align-items: center !important;
}



/* ==============================
      Custom CSS by Pryemium      
============================== */
